.chat-section {
    width: 100%;
}

.chat-card {
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
}

.chat-card-info {
    display: flex;
    align-items: center;
}

.chat-card-notification {
    height:10px;
    width: 10px;
}

.chat-card-notification-on {
    background-color: #EC3F74;
}

.chat-card-avatar > img {
    border: 2px solid #4BFE65;
    padding: 2px;
    width: 50px;
    margin-right: 10px;
}
