.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	box-sizing: border-box;
    padding: 20px;
}

.container > form {
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.text-input {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 80%;
    height: 40%;
}

.buttons {
	box-sizing: border-box;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button {
    padding: 18px 30px;
    border-width: 1px;
}

.error-message {
    color: #EC3F74;
    font-size: 0.9em;
}
